body {
	background-image: url(img/bg11.jpg);
}

.container {
	width: 1200px;
	background-color: rgba(15, 15, 15, 0.75);
	margin: 50px auto;
	padding-top: 30px;
	font-size: 14px;
}
.header {
	text-align: center;
	font-weight: bold;
	padding: 10px;
	font: 50px/10px pristina;
	color: white;
}
.navigation {
	padding: 20px 0;
	text-align: center;
	color: white;
}
.navigation ul li {
	display: inline-block;
	padding: 10px 30px;
}
.navigation a {
	text-decoration: none;
	color: white;
}
.navigation a:hover {
	text-decoration: none;
	color: #806f66;
	background-color:rgba(70,65,88, 0.4);
	padding: 10px; 
}
.navigation hr {
	width: 800px;
	color: #806f66;
}
.hero {
	background-image: url(img/hero.jpg);
	height: 350px;
	background-size: cover;
	border-top: 3px solid #8c8987;
	border-bottom: 3px solid #403d3c;
}
.content {
	margin: 5px 0;
	/*border-top: 1px solid #d9d9d9;*/
	/*border-bottom: 1px solid #d9d9d9;*/
}
.mainbar{
	float: left;
	box-sizing: border-box;
	width: 850px;
	border-right: 1px solid grey;
	padding: 30px;
}
.mainbar .category {
	border-left: 3px solid green;
	padding-left: 10px;
	font: 20px yantramanav;
	color: white;
}
.mainbar .list {

}
.mainbar .list .item {
	margin: 10px 0;
	height: 250px;
	width: 150px;
	overflow: hidden;
	color: white;
	font-weight: bold;
	display: inline-block;
	padding-right: 20px;
	margin-bottom: 30px;
}
.mainbar .list .item img {
	height: 200px;
	width: 150px;
}
.mainbar .list .item .judul {
	vertical-align: baseline;
}
.mainbar .list .item p{
	margin: 5px 0;
}

.sidebar {
	color: #d9d9d9;
	float: right;
	box-sizing: border-box;
	width: 350px;
	/*border-left: 1px solid;*/
	padding: 10px;
}
.sidebar .hr1 {
	margin: 5px auto;
	border: 1px solid #6c7d8c;
}
.me {
	background-image: url(img/me.png);
	background-size: cover;
	float: left;
	height: 100px;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}
.about {
	background-color: rgba(38, 38, 38, 0.7);
	padding: 10px;
}
.about h2 {
	font-weight: bold;
}
.about p {
	text-align: justify;
}
.sidebar .sidetitle {
	margin: 10px 0;
	padding-left: 5px;
	border-left: 15px solid #cc0000;
}
.sidebar .framesosmed {
	height: 50px;
	width: 50px;
	overflow: hidden;
	display: inline-block;
}
.sidebar .framesosmed img {
	height: 50px;
	width: 50px;
}
.sidebar .quotes .module {
	background-color: rgba(38, 38, 38, 0.7);
	margin-bottom: 15px;
	text-align: justify;
	padding: 8px;
}
.sidebar .quotes .module .name {
	margin-bottom: 10px;
}
.footer {
	background-color: black;
	height: 30px;
	padding: 10px;
}
.footer p {
	font: 20px/10px pristina;
	color: white;
	line-height: 30px;
	text-align: center;
}


/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Micro Fix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}